<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <%- include ('./partials/messages') %>
      <form action="/users/forgot" method="POST">
        <legend>Więc mówisz, że zapomniałeś hasło...</legend>
        <img src="https://mly1gplry5ce.i.optimole.com/eWijzog-l5B4aMXW/w:830/h:475/q:auto/rt:fill/g:ce/https://film.org.pl/wp-content/uploads/2020/12/jigsaw.jpg" height="300"/>
        <p>Od teraz musisz polegać na moich instrukcjach</p>
        <div class="form-group">
            <label for="email">Wprowadź Twój email</label>
            <input type="email" name="email" autofocus class="form-control"></label>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Resetuj hasło">
        </div>
      </form>
    </div>
  </div>