<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <%- include ('./partials/messages') %>
      <form action="/users/forgot" method="POST">
        <legend>Więc mówisz, że zapomniałeś hasło...</legend>
        <img src="https://storage.stwonline.com.br/180graus/uploads/figure_squared/data/224488/large_foto-destaque-pequeno-310.png" height="300"/>
        <p>Od teraz musisz polegać na moich instrukcjach</p>
        <div class="form-group">
            <label for="email">Wprowadź Twój email</label>
            <input type="email" name="email" autofocus class="form-control"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Resetuj hasło"/>
        </div>
      </form>
    </div>
  </div>