<div class="container" id="landing-header" style="
    background-image: url(../wolska.jpg);
    background-size: cover;
    padding-top: 70vh;"
>
<div>
                <h1>Wolska w ogniu!</h1>
                <h3>Czy jesteś gotowy stanąć w jej obronie?</h3>
                <hr>
                </div>
                <div style="display:flex; justify-content: center">
                <a href="/dashboard" class="btn btn-lg btn-warning">Wejdź do gry</a>
    </div>
</div>    