<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img src="https://mly1gplry5ce.i.optimole.com/eWijzog-l5B4aMXW/w:830/h:475/q:auto/rt:fill/g:ce/https://film.org.pl/wp-content/uploads/2020/12/jigsaw.jpg" height="300"/>
        <audio controls autoplay>
          <source src="https://www.youtube.com/watch?v=4siRWMULqj4" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        <iframe width="320" height="240" src="https://www.youtube.com/watch?v=4siRWMULqj4" frameborder="0"></iframe>
        <p>Zagrajmy w grę... </p>
        <p>Zarejestruj się i zaloguj</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">Zarejestruj</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Zaloguj</a>
      </div>
    </div>
  </div>