<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img src="https://mly1gplry5ce.i.optimole.com/eWijzog-l5B4aMXW/w:830/h:475/q:auto/rt:fill/g:ce/https://film.org.pl/wp-content/uploads/2020/12/jigsaw.jpg" 
        height="200"/>
    
        <iframe class="embed-responsive-item"id="ytplayer" type="text/html" width="100%" height="60%" src="https://www.youtube.com/embed/sXE0gNmJhRw?&autoplay=1&loop=1&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=sXE0gNmJhRw"
        frameborder="0" allowfullscreen></iframe>
        
        <p>Zagrajmy w grę... </p>
        <p>Zarejestruj się i zaloguj</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">Zarejestruj</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Zaloguj</a>
      </div>
    </div>
  </div>