    a.item {
        color: white;
        background: darkred;
        text-decoration: none;
    }
    a.item:hover {
        color: darkred;
        background: white;
    }
    .task-card {
		font-family: 'Arial', sans-serif;
		background: lightgray;
        color:darkslategrey;
		width: auto;
		display: grid;
        grid-template-columns: 1fr 2fr;
		grid-gap: 10px;
		margin-bottom: 15px;
		border-bottom: firebrick 5px solid;
        border-radius: 20px 20px 40px 40px;
	}
    .info {
        display: inline-block;
    }

    .hint {
        display: inline;
    }

    #mapPicture {
        display: none;
    }

    #solving {
        display: inline;
    }

	.task-card img {
		width: 25%;
	}
    button {
        display: inline-block;
		cursor: pointer;
		background: firebrick;
		color: #fff;
		border: 0;
		border-radius: 5px;
		padding: 5px 10px;
	}

    button:hover {
        color: white;
        background: crimson;
        border-radius: 25px 0 25px 0;
        border: 0px solid firebrick;
        box-shadow: 5px 5px darkred;
        opacity: 0.8;
        transition: all 0.05s ease 0.1s;
    }

    button:disabled {
        display: none;
        background: lightgray;
    }

    img {
        height: 25vh;
        max-height: 25vh;
        max-width: 30vh;
    }

    #rankImg {
        max-width: 15vh;
        border-radius: 20px 20px 0 0;
    }

    hr.newHr {
        border: 1px solid darkred;
    }

    #landing {
        background-size: cover;
        background-image: url("./wolska.jpg");
        max-height: 100vh
    }

.filled {
    background-image: url(./ranks/puzzle/ps.jpg);
    position: relative;
    height: 193px;
    width: 281px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.empty {
    display: flex;
    height: 203px;
    width: 291px;
    margin: 10px;
    border: 3px darkgrey;
    background-color: lightgrey;
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
  }

#ps {
    background-color: red;
}