    .task-card {
		font-family: 'Arial', sans-serif;
		background: lightgray;
        color:darkslategrey;
		width: auto;
		display: grid;
        grid-template-columns: 1fr 2fr;
		grid-gap: 10px;
		margin-bottom: 15px;
		border-bottom: firebrick 5px solid;
	}
    .info {
        display: inline-block;
    }

    .hint {
        display: inline;
    }

    #mapPicture {
        display: none;
    }

    #solving {
        display: inline;
    }

	.task-card img {
		width: 100%;
	}
    button {
        display: inline-block;
		cursor: pointer;
		background: firebrick;
		color: #fff;
		border: 0;
		border-radius: 5px;
		padding: 5px 10px;
	}

    button:hover {
        color: white;
        background: crimson;
        border-radius: 25px 0 25px 0;
        border: 0px solid firebrick;
        box-shadow: 5px 5px darkred;
        opacity: 0.8;
        transition: all 0.05s ease 0.1s;
    }

    button:disabled {
        display: none;
        background: lightgray;
    }

    img {
        height: 25vh;
        max-height: 25vh;
        max-width: 30vh;
    }